body {
  font-family:
          'Noto Sans KR',
          'Noto Sans JP',
          'Noto Sans SC',
          'Noto Sans TC',
          'Noto Sans',
          sans-serif;
}
a {
        text-decoration: none;
}
tr th, td {
        vertical-align: middle !important;
}