/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://next.vuetifyjs.com/features/sass-variables/`
// @use 'vuetify' with (
//   $color-pack: false
// );


// mobiscroll
.mbsc-ios.mbsc-datepicker-inline {
  border: 0;
  border-radius: 15px;
}
.mbsc-datepicker-tab-wrapper {
  border-radius: 15px;
}